@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

:root {
  --color-main: #e8c9aa;
  --color-nav-active: #707070;
  --color-white: #fff;
  --color-black: #000;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

button,
button:focus {
  border: none;
  outline: none;
}
button {
  background-color: transparent;
  cursor: pointer;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}
